*{
    margin: O;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: #8b949e;
}

.content-main {
    margin: 30px;
}

.content-main .project{
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}