*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    color: #fff;
    background-color: #282828;
    font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1100px;
}

h1 {
	margin: 0;
	font-size: 32px;
	color: #5BBE42;
}

ul {
	margin: 0;
	background-color: black;
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
    padding: 30px 25px;
}

a {
    color: white;
    text-decoration:none;
}

section.home .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #5BBE42;
}

.center {
    text-align: center;
}

.contato img {
    width: 40px;
    height: 40px;
}

.contato {
    display: flex;
    justify-content: center;
    transform: scale(1.05);

}

.contato a {
    margin: 20px;
    text-align: center;
}

.contato p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #5BBE42;
}

.curriculo h2{
    color: #5BBE42;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.curriculo ul {
    list-style-type: none;
    padding: 0;
}
  
.curriculo ul li {
    margin-bottom: 5px;
    display: inline-block;
    padding: 0 2px;
}

.home{
	display: flex;
	min-height: calc(100vh - 125px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
}

.contato a:hover {
    color: #5BBE42;
}

.projetos {
	padding: 70px 0 70px;
}

.projetos .titulo {
    color: #5BBE42;
	text-align: center;
	padding: 60px 0;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.projetos .container-projetos {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.projetos .projeto {
	max-width: 260px;
	max-height: 500px;
	position: relative;
	display: none;
}

.projetos .projeto.ativo {
	display: block;
}

.projetos .projeto img {
	height: 100%;
}

.projetos .projeto h3 {
	background-color: #040203;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
}

.projetos .projeto .informacoes-projeto {
	background-color: #040203;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
	opacity: 0.7;
	background-color: #000;
}

.projetos .btn-mostrar-projetos {
	background: none;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #fff;
	width: 180px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
	background-color: #5BBE42;
	transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
	display: none;
}
